/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap.css.scss";
@import "twitter/bootstrap/responsive";

/*form label { display: inline-block; width: 80px; }*/
.container {display: inline-block; vertical-align: top; padding: 10px;}

.alignCenter {text-align:center !important;}

.resourceId { display:inline-block; visibility:hidden;}

.teamBlue {background-color:#6c91ff; color:white;}
.teamRed {background-color:#9c4c42; color:white;}


button.gameScore {height:50px; width:150px; font-size:14pt;}
div.teamScore {height:50px; width:50px; font-size:14pt; text-align:center; display:inline-block; vertical-align:middle;}

@media all and (mix-width: 1281px) {
  body {
    padding: 20px;
  }
}

.footer {
  border-top: 1px #dddddd solid;
  margin-top: 10px;
  font-size: 10pt;
}

table.last-with-buttons tr td:last-child {
  text-align: center;
}

table.last-with-buttons tr td:last-child a:not(:last-child),
table.last-with-buttons tr td:last-child button:not(:last-child){
  margin-right:8px;
}

table.last-with-buttons.four tr td:last-child {
  width: 218px;
}

table.last-with-buttons.three tr td:last-child {
  width: 160px;
}

table.last-with-buttons.two tr td:last-child {
  width: 110px;
}

.form-wrapper .control-label {
  width: 220px;
}

.sidebar-nav {
  width: 22.5%;
}

.sidebar-nav ul {
  padding: 0;
  border: 1px solid #dddddd;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065)
}

.sidebar-nav li:first-child > a {
  border-top: none;
}

.sidebar-nav li > a {
  border-top: 1px solid #dddddd;
  margin:0;
  padding: 8px 16px;
}

.button-wrapper {
  margin-bottom: 4px;
}
