<h1>Welcome to Fussball Manager!</h1>
<p>
	This is an extremly simple landing page to get familiar with Rails. <br>
	
	This is inside the <b>Dashboard</b> controller under the <i>welcome</i> action. <br>
	
	Please visit the <a href="https://github.com/iamgarry/FussballManager">FussballManager github repo</a> and read the 
	README file to find out more about Rails, Heroku and this project.
</p>
