<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <h2>Fussball Manager Api Documentation</h2>
      <div class="alert alert-info">
        To see resources formatted in json append '.json' to the end of the uri.
        <br/>
        <br/>
        <b>Example:</b> api/players.json or api/players/1.json
      </div>
      <div id="players">
      <h3>Players Resource</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Uri</th>
            <th>HTTP Verb's</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <%= link_to '/players', players_path, :title => 'Go to players' %>
            </td>
            <td>GET</td>
            <td>Returns a list of all the players.</td>
          </tr>
          <tr>
            <td>
              <%= link_to '/players', new_player_path, :title => 'Create a new player' %>
            </td>
            <td>POST</td>
            <td>Creates a new player.</td>
          </tr>
          <tr>
            <td>/players/:id</td>
            <td>GET</td>
            <td>Returns a player.</td>
          </tr>
          <tr>
            <td>/players/:id</td>
            <td>PUT</td>
            <td>Updates a player.</td>
          </tr>
          <tr>
            <td>/players/:id</td>
            <td>DELETE</td>
            <td>Removes a player.</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4>Tallies Resource</h4>
            </td>
          </tr>
          <tr>
            <td>/players/:player_id/tallies</td>
            <td>GET</td>
            <td>Returns the tally of a players score.</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="games">
        <h3>Games Resource</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Uri</th>
            <th>HTTP Verb's</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <%= link_to '/games', games_path, :title => 'Go to games' %>
            </td>
            <td>GET</td>
            <td>Returns a list of all the games.</td>
          </tr>
          <tr>
            <td>
              <%= link_to '/games', new_game_path, :title => 'Create a new game' %>
            </td>
            <td>POST</td>
            <td>Creates a new game.</td>
          </tr>
          <tr>
            <td>/games/:id</td>
            <td>GET</td>
            <td>Returns a game.</td>
          </tr>
          <tr>
            <td>/games/:id</td>
            <td>PUT</td>
            <td>Updates a game.</td>
          </tr>
          <tr>
            <td>/games/:id</td>
            <td>DELETE</td>
            <td>Removes a game.</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4>Scores Resource</h4>
            </td>
          </tr>
          <tr>
            <td>/games/:game_id/scores</td>
            <td>GET</td>
            <td>Returns a list of all the scores form a game.</td>
          </tr>
          <tr>
            <td>/games/:game_id/scores</td>
            <td>POST</td>
            <td>Creates a new score for a game.</td>
          </tr>
          <tr>
            <td>/games/:game_id/scores/:id</td>
            <td>GET</td>
            <td>Returns a score from a game.</td>
          </tr>
          <tr>
            <td>/games/:game_id/scores/:id</td>
            <td>PUT</td>
            <td>Updates a score on a game.</td>
          </tr>
          <tr>
            <td>/games/:game_id/scores/:id</td>
            <td>DELETE</td>
            <td>Removes a score from a game.</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4>Tallies Resource</h4>
            </td>
          </tr>
          <tr>
            <td>/games/:game_id/tallies</td>
            <td>GET</td>
            <td>Returns the tally of a games score.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="span3">
      <div class="sidebar-nav affix">
        <h3>Resources</h3>
        <ul class="nav nav-list">
          <li><a href="#players">Players</a></li>
          <li><a href="#games">Games</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
