<div class="container" ng-cloak>

    <div class="fluid-row">
        <div class="span12 well well-small">

            <span>Status: <span class="badge">{{ game.status }}</span></span>

            <div class="input-prepend input-append btn-fixStatusButtonsMargin" ng-show="game.status == 'created'">
                <a class="btn btn-small" ng-click="changeToStatus('paused')"><i class="icon-play"></i></a>
                <a class="btn btn-small hidden-phone" ng-click="changeToStatus('started')">Start game</a>
            </div>

            <div class="input-prepend input-append btn-fixStatusButtonsMargin" ng-show="game.status == 'started'">
                <a class="btn btn-small" ng-click="changeToStatus('paused')"><i class="icon-repeat"></i></a>
                <a class="btn btn-small hidden-phone" ng-click="changeToStatus('created')">Reset game</a>
            </div>

            <div class="input-prepend input-append btn-fixStatusButtonsMargin" ng-show="game.status == 'started'">
                <a class="btn btn-small" ng-click="changeToStatus('paused')"><i class="icon-pause"></i></a>
                <a class="btn btn-small hidden-phone" ng-click="changeToStatus('paused')">Pause game</a>
            </div>

            <div class="input-prepend input-append btn-fixStatusButtonsMargin" ng-show="game.status == 'paused'">
                <a class="btn btn-small" ng-click="changeToStatus('started')"><i class="icon-play"></i></a>
                <a class="btn btn-small hidden-phone" ng-click="changeToStatus('started')">Resume game</a>
            </div>

            <div class="input-prepend input-append btn-fixStatusButtonsMargin" ng-show="game.status != 'finished'">
                <a class="btn btn-small btn-danger" ng-click="changeToStatus('finished')"><i class="icon-lock"></i></a>
                <a class="btn btn-small btn-danger hidden-phone" ng-click="changeToStatus('finished')">Finish game</a>
            </div>

        </div>
    </div>

    <div class="fluid-row" ng-show="game.status == 'started'">
        <div class="span12">
            <div>
                <span class="btn btn-large btn-info btn-createScore" ng-click="create(game.blueAttacker)">{{ game.blueAttacker.nickname }}</span>
                <span class="btn btn-large btn-info btn-createScore" ng-click="create(game.blueDefender)">{{ game.blueDefender.nickname }}</span>
                <span class="btn btn-large btn-info disabled">{{ game.blueTeamScore }}</span>
            </div>
            <div>
                <span class="btn btn-large btn-danger btn-createScore" ng-click="create(game.redAttacker)">{{ game.redAttacker.nickname }}</span>
                <span class="btn btn-large btn-danger btn-createScore" ng-click="create(game.redDefender)">{{ game.redDefender.nickname }}</span>
                <span class="btn btn-large btn-danger disabled">{{ game.redTeamScore }}</span>
            </div>
        </div>
    </div>

    <div class="fluid-row" ng-show="game.status != 'started'">
        <div class="span12">
            <div>
                <span class="btn btn-large btn-info btn-createScore disabled">{{ game.blueAttacker.nickname }}</span>
                <span class="btn btn-large btn-info btn-createScore disabled">{{ game.blueDefender.nickname }}</span>
                <span class="btn btn-large btn-info disabled">{{ game.blueTeamScore }}</span>
            </div>
            <div>
                <span class="btn btn-large btn-danger btn-createScore disabled">{{ game.redAttacker.nickname }}</span>
                <span class="btn btn-large btn-danger btn-createScore disabled">{{ game.redDefender.nickname }}</span>
                <span class="btn btn-large btn-danger disabled">{{ game.redTeamScore }}</span>
            </div>
        </div>
    </div>

    <div class="fluid-row">
        <div class="span12">
            <br />
        </div>
    </div>

    <div class="fluid-row" ng-hide="scoreEdit == null">
        <div class="span3 well well-small">
            <form name="scoreForm" ng-submit="save()">
                <fieldset>
                    <input id="game" type="hidden" ng-model="scoreEdit.game" required/>
                    <input id="player" type="hidden" ng-model="scoreEdit.player" required/>

                    <span style="font-size:16pt;font-weight:bold;">{{ scoreEdit.player.nickname }}</span>

                    <!--<div>-->
                        <!--<label for="player">Player: </label>-->
                        <!--<select id="player" ng-model="scoreEdit.player" ng-options="player.id as player.nickname for player in gamePlayers" required></select>-->
                    <!--</div>-->

                    <br/>
                    <div>
                        <div style="float:right;">
                            <label style="width:82px"><input type="checkbox" ng-model="scoreEdit.own_goal" /> own goal</label>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-large"> Save </button>
                    <button type="button" class="btn btn-large pull-right" ng-click="cancel()">Cancel</button>
                </fieldset>
            </form>
        </div>
        <div class="span9">
        </div>
    </div>

    <div class="fluid-row">
        <div class="span12">
            <h2>Game Scores</h2>

            <ol>
                <li ng-repeat="score in gameScores">
                    <div>
                        <span ng-show="game.status != 'finished'">
                            <a class="btn btn-mini" title="Edit" href="" ng-click="edit($index)"><i class="icon-edit"></i> Edit</a>
                        </span>
                        {{ score | scoreDisplay }}

                        <span ng-show="score.team == 'blue'">
                            <span class="badge badge-info">blue team</span>
                        </span>
                        <span ng-show="score.team == 'red'">
                            <span class="badge badge-important">red team</span>
                        </span>

                        <span ng-show="score.own_goal">
                            (own goal)
                        </span>
                    </div>
                </li>
            </ol>
        </div>
    </div>

</div>