<div class="container">
    <h2>Players</h2>
    <div>
        <a class="btn btn-primary" ng-click="create()">
            <i class="icon-plus icon-white"></i> Create
        </a>
    </div>

    <form name="playerForm" ng-submit="save()" ng-hide="playerEdit == null">
        <fieldset>
            <div>
                <label for="playerName">Name: </label>
                <input id="playerName" type="text" ng-model="playerEdit.name" required/>
            </div>
            <div>
                <label for="nickname">Nickname: </label>
                <input id="nickname" type="text" ng-model="playerEdit.nickname" required/>
            </div>
            <div>
                <label for="avatar">Avatar: </label>
                <input id="avatar" type="text" ng-model="playerEdit.avatar" required/>
            </div>
            <button type="submit">Save</button>
            <button type="button" ng-click="cancel()">Cancel</button>
        </fieldset>
    </form>

    <br/>

    <ol>
        <li ng-repeat="player in players">
            <div>
                {{ player.nickname }}
                <span><a title="Edit" href="" ng-click="edit($index)">Edit</a></span>
            </div>
        </li>
    </ol>
</div>