<!DOCTYPE html>
<html>
<head>
  <title>FussballManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br/>
<br/>
<hr/>
<a title="Go back to api resource list" href="/api">Back to API Resources</a>

</body>
</html>
